* {
    box-sizing: border-box;
}

body {
    max-width: 500px;
    background-color: rgb(245, 239, 230);
    font-family: "Lucida Console", "Courier New", monospace;
    margin: 10px auto;
    text-align: center;
    padding: 20px;
    border: solid 5px black;
    margin: 0 auto;
}

.content {
    background-color: rgb(211, 178, 130);
    padding: 20px;
    border: dotted 10px black;

}

h1 {
    background-color: rgb(211, 178, 130);
    max-width:300px;
    font-size: 35px;
    font-weight: bold;
    font-family: "Lucida Console", "Courier New", monospace;
    margin: 10px auto;
    text-align: center;
    padding: 20px;
    border: solid 3px black;
}

h2 {
    border: solid, 3px, black;
    background-color: rgb(211, 178, 130);
}

.blurb {
    background-color: rgb(211, 178, 130);
    border: solid 3px, black;
}

ul, 
ol {
    
    display:block;
    background-color: rgb(237, 164, 220);;
    border: solid 3px black;
    font-weight: bold;
    padding: 35px;
   
}

li {
    margin: 10px;
}



a {
    background-color: red;
    border: solid 2px black;
    font-weight: bold;

}

