* {
    box-sizing: border-box;
}

body {
    width: 400px;
    background-color: blanchedalmond;
    font-family: "Lucida Console", "Courier New", monospace;
    margin: 10px auto;
    text-align: center;
    padding: 20px;
    border: solid 5px black;
}

.content {
    background-color: rgb(138, 203, 195);
    padding: 20px;
    border: dotted 10px black;

}

h1 {
    background-color: rgb(120, 120, 187);
    width:300px;
    font-size: 35px;
    font-weight: bold;
    font-family: "Lucida Console", "Courier New", monospace;
    margin: 10px auto;
    text-align: center;
    padding: 20px;
    border: solid 3px black;
}

li {
    background-color: rgb(157, 140, 182);
    font-family: "Lucida Console", "Courier New", monospace;
    font-weight: bold;
    margin: 10px auto;
    border: solid 3px black;
}